*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background:    
    url('../Img/background.png') top  no-repeat;
    overflow-x: hidden;   
}


.travel p{
    font-family: 'Raleway', sans-serif;
    color:#FFFFFF;
    font-size: 24px;
    text-align:center;
    padding-top: 263px;
}

.line {
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}


.text1 {
    font-family: 'Droid Serif', sans-serif;
    color:#FFFFFF;
    font-size: 135px;
    text-align: center;
    padding-top: 18px;
    line-height: 104px;
}

.text2 {
    color:#AC752F;
    font-family: 'Raleway', sans-serif;
    font-size:24px;
    text-align: center;
    padding-top: 34px;
}

.container {
    width: 1327px;
    margin: 0 auto;
    overflow: hidden;
}

.aboutme {
    margin-top: 471px;
}

.photo1 img{
    float: right;
    margin-right: 66px;
    margin-top: -50px;
    
}

.content1{
    background-color: #373737;
    padding-left: 72px;
}

.content1_1 h3{
color:#AD7835;
font-family:  'Droid Serif', sans-serif;
font-size:21px;
text-align:left;
padding-top: 68px;
}

.content1_1 p{
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    text-align:left;
    line-height: 2;
    padding-right: 764px;
}

.content1_1 a{
    display: inline-table;
    color: #AD7835;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    text-align:left;
    border: solid #AD7835 1px;
    padding: 10px 45px;
    margin: 50px 0 58px 0;
    text-decoration: none;
}

.content1_1 a:hover{
    border: solid white 1px;
    padding: 10px 45px;
    color: white;

}


/* aticle */
.article{
    margin-top: 284px;
    }

.articletext {
color:#AD7835;
font-family:'Droid Serif', sans-serif;
font-size:42px;
text-align:center;
}


.article1, .article2, .article3 {
    float: left;
    width: 371px;
}

.article1{
    margin-top: 119px;
}

.article1 .hover, .article2 .hover, .article3 .hover {
    background-color: #373737;
    width: 338px;
    height: 236px;
}



.article1 img:hover, .article2 img:hover, .article3 img:hover{
    margin-left: 15px;
    margin-top: 15px;
}


.article2{
  margin-top: 205px;  
  margin-left: 100px;
}

.article3{
    margin-top: 119px;
    margin-left: 98px;
}

.articletext1 h4, .articletext2 h4, .articletext3 h4{
    color:#AD7835;
    font-family:'Droid Serif', sans-serif;
    font-size:20px;
    text-align:left;
    padding: 38px 0 12px 0;
    border-bottom: #AD7835 solid 2px ;
    }

 .articletext1 p, .articletext2 p, .articletext3 p{ 
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    text-align:left;
    line-height: 2;
    padding: 28px 0 36px 0;

 }

 .articletext1 a, .articletext2 a,
 .articletext3 a {
    color:#AD7835;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    text-decoration: none;
 }

 .articletext1 a:hover, .articletext2 a:hover,
 .articletext3 a:hover{
     color: white;
 }

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/* gallery */


 .gallerytext{
     text-align: left;
     margin-top: 240px;
     margin-left: 75px;
 }

 .gallerytext h2{
    color:#AD7835;
    font-family:'Droid Serif', sans-serif;
    font-size:42px;
 }



 /* .n7, .n2{
     float: left;
 } */

 /* .n1, .n3, .n4, .n5, .n6 {
     float: right;
 }
  */
 .n7 {
    margin-left: 72px;
    margin-right: 28px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.gallery a:last-child{
    display: inline-table;
    color: #AD7835;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    text-align: center;
    border: solid #AD7835 1px;
    padding: 10px 45px;
    margin: 50px 0 58px 0;
    text-decoration: none;
}

/* contact */

.contact{
    margin-top: 240px;
}

.photo2 img{
    float: left;
    margin-left: 68px;
    margin-top: -50px;
}

.content2{
    background-color: #373737;
    padding-right: 320px;
}

.content2_1 h3{
    color:#AD7835;
    font-family:  'Droid Serif', sans-serif;
    font-size:60px;
    text-align:right;
    padding-top: 70px;
    }