/* Секция HEADER  */
.header_about {
  background: url("/Project/img/about/Background.png");
  height: 700px;
  width: 100%;
  position: relative;
}

.overlay {
  background-color: #0000005e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* секция стилизация поиска */

/* Конец стилизация поиска */

.about_menu_article_text {
  position: absolute;
  bottom: 15%;
}

.about_menu_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.about_menu_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

/* Секция HISTORY */

.section_history {
  margin: 100px 108px 140px 157px;
  display: flex;
  justify-content: center;
}

.section_history_photo {
  position: relative;
}

.section_history_photo img:last-child {
  position: absolute;
  top: 234px;
  left: -70px;
}

.section_history_atricle {
  margin-right: 48px;
  margin-left: 102px;
}

.section_history_atricle h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
  text-align: left;
}

.section_history_atricle h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
  text-align: left;
}

.section_history_atricle p {
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

/* Секция GOALS */

.section_goals {
  margin: 100px 112px 325px 119px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section_goals_photo {
  position: relative;
}

.section_goals_photo img:last-child {
  position: absolute;
  top: 234px;
  left: -70px;
}

.section_goals_atricle {
  margin-right: 184px;
}

.section_goals_atricle h3 {
  text-align: right;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_goals_atricle h4 {
  text-align: right;
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_goals_atricle p {
  text-align: right;
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

.section_goals_atricle p:last-child {
  text-align: right;
  margin-top: 0;
}

/* Секция CAROUSEL_HOURS */

.carousel_hours {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.open_hours {
  border: 3px solid #ebebeb;
}

.open_hours > h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 41px 60px 26px 64px;
}

.workweek p {
  text-align: center;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 13px;
}

.weekend p {
  text-align: center;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 13px;
}

.weekend p:last-child {
  padding-bottom: 41px;
}

/* Карусель */

.video {
  display: flex;
}

.video2 {
  margin-left: -100px;
}

.video3 {
  margin-left: -100px;
}

div.ytp-title-text {
  display: none;
}

a.ytp-title-channel-logo {
  display: none;
}

.ytp-chrome-top .ytp-show-cards-title {
  display: none;
}
