/* Секция HEADER  */
.header_about {
  background: url("/Project/img/about/Background.png") no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
}

.overlay {
  background-color: #0000005e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about_menu_article_text {
  position: absolute;
  bottom: 15%;
}

.about_menu_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.about_menu_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

/* Секция HISTORY */

.section_history {
  margin: 100px 108px 140px 157px;
  display: flex;
  justify-content: center;
}

.section_history_photo {
  position: relative;
}

.section_history_photo img:last-child {
  position: absolute;
  top: 234px;
  left: -70px;
}

.section_history_atricle {
  margin-right: 48px;
  margin-left: 102px;
}

.section_history_atricle h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
  text-align: left;
}

.section_history_atricle h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
  text-align: left;
}

.section_history_atricle p {
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

/* Секция GOALS */

.section_goals {
  margin: 100px 112px 325px 119px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section_goals_photo {
  position: relative;
}

.section_goals_photo img:last-child {
  position: absolute;
  top: 234px;
  left: -70px;
}

.section_goals_atricle {
  margin-right: 184px;
}

.section_goals_atricle h3 {
  text-align: right;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_goals_atricle h4 {
  text-align: right;
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_goals_atricle p {
  text-align: right;
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

.section_goals_atricle p:last-child {
  text-align: right;
  margin-top: 0;
}

/* Секция CAROUSEL_HOURS */

.carousel_hours {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.open_hours {
  border: 3px solid #ebebeb;
}

.open_hours > h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 41px 60px 26px 64px;
}

.workweek p {
  text-align: center;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 13px;
}

.weekend p {
  text-align: center;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 13px;
}

.weekend p:last-child {
  padding-bottom: 41px;
}

/* Карусель */

.video {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video2 {
  margin-left: -100px;
}

.video3 {
  margin-left: -100px;
}

div.carousel_hours div.carousel a.ytp-title-link.yt-uix-sessionlink {
  display: none;
}

.carousel div.ytp-title-channel {
  display: none;
}

a.ytp-title-channel-logo {
  display: none;
}

a.ytp-title-link.yt-uix-sessionlink {
  display: none;
}

/* Медиа запросы */

@media (max-width: 1030px) {
  .carousel_hours {
    flex-direction: column;
  }

  .open_hours {
    margin-top: 70px;
  }

  .video2 {
    margin: 0px 20px;
  }

  .video3 {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .header_about {
    height: 500px;
  }

  .section_history {
    flex-direction: column;
    margin: 100px auto 140px auto;
  }

  .section_history_photo img:first-child {
    width: 100%;
    padding-left: 10%;
  }

  .section_history_photo img:last-child {
    position: static;
    width: 100%;
    margin-top: -15%;
    padding-right: 12%;
  }

  .section_history_atricle {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .section_goals {
    flex-direction: column;
    margin: 100px auto 140px auto;
  }

  .section_goals_photo img:first-child {
    width: 100%;
    padding-left: 10%;
  }

  .section_goals_photo img:last-child {
    position: static;
    width: 100%;
    margin-top: -15%;
    padding-right: 12%;
  }

  .section_goals_atricle {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .video {
    flex-direction: column;
    align-items: center;
  }

  .video2 {
    margin: 20px 0px;
  }

  .video3 {
    margin-left: 0;
    margin-top: 0;
  }
}
