/* Секция HEADER  */
.header_blog {
  background: url("/Project/img/blog404/background.png") no-repeat;
  background-size: cover;
  height: 1269px;
  width: 100%;
  position: relative;
}

.overlay {
  background-color: #0000005e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* секция НАВИГАЦИЯ */

/* Конец навигации */

.menu_blog_article_text {
  /* position: absolute;
  bottom: 35%; */
  margin-top: 30%;
  text-align: center;
}

.menu_blog_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 300px;
  font-weight: 700;
}

.menu_blog_article_text p:nth-child(2) {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.btn-dark {
  padding: 9px 25px;
  width: 183px;
}

.button button {
  text-align: center;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.button a {
  color: #fff;
  text-decoration: none;
}

footer.blog404 {
  margin: 0;
}

@media (max-width: 767.98px) {
  .menu_blog_article_text {
    position: absolute;
    bottom: 35%;
  }

  .header_blog {
    height: 1000px;
  }
  .menu_blog_article_text p {
    text-align: left;
    font-size: 134px;
  }
}
