/* Секция HEADER */

.header_contact {
  background: url("/Project/img/page_contact/header_contact.png") no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
}

.overlay {
  background-color: #0000005e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* секция НАВИГАЦИЯ */

/* Конец навигации */

.contact_menu_article_text {
  position: absolute;
  bottom: 15%;
}

.contact_menu_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.contact_menu_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

/* Секция HAPPY */

.section_happy {
  margin: 100px 112px 233px 119px;
  /* width: 877px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section_happy_photo {
  position: relative;
}

.section_happy_photo img:last-child {
  position: absolute;
  top: 156px;
  left: -118px;
  z-index: -1;
}

.section_happy_atricle {
  margin-right: 184px;
}

.section_happy_atricle h3 {
  text-align: right;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_happy_atricle h4 {
  text-align: right;
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_happy_atricle p {
  text-align: right;
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

.section_happy_atricle p:last-child {
  text-align: right;
  margin-top: 0;
}

/* секция MESSAGE_CONTACT */

.message_contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.message {
  min-width: 60%;
  margin-right: 25px;
}

.textinput {
  display: flex;
  justify-content: center;
}

.textinput input[type="text"] {
  border: none;
  border-bottom: solid #f5f7fa 2px;
  width: 100%;
  margin-right: 50px;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  outline: none;
}

.email_subject {
  display: flex;
  justify-content: center;
}

.email_subject input[type="email"],
.email_subject select {
  border: none;
  border-bottom: solid #f5f7fa 2px;
  width: 100%;
  margin: 40px 50px 40px 0;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: normal;
  outline: none;
}

.textarea_submit {
  display: flex;
  justify-content: center;
}

.textarea_submit textarea {
  width: 100%;
  border: none;
  border-bottom: solid #f5f7fa 2px;
  margin-right: 40px;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  outline: none;
}

.textarea_submit button {
  background-color: #f5f7fa;
  width: 136px;
  height: 41px;
  border: none;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-right: 45px;
  text-transform: uppercase;
}

.message_contact h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 40px;
}

.message_contact h5 {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.message_contact address,
p > a {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 11px;
}

.contact_details_phone {
  margin: 31px 0;
}

.map {
  margin: 100px auto;
  padding: 0 100px;
}

/* @media (max-width: 767.98px) {
  .header_contact {
    height: 500px;
  }

  .section_happy {
    flex-direction: column;
    margin: 100px auto 140px auto;
  }

  .section_happy_photo img:first-child {
    width: 100%;
    padding-left: 10%;
  }

  .section_happy_photo img:last-child {
    position: static;
    width: 100%;
    margin-top: -15%;
    padding-right: 12%;
  }
} */

@media (max-width: 767.98px) {
  .header_contact {
    height: 500px;
  }

  .section_happy {
    flex-direction: column;
    margin: 100px auto 140px auto;
  }

  .section_happy_photo img:first-child {
    width: 100%;
    padding-left: 10%;
  }

  .section_happy_photo img:last-child {
    position: static;
    width: 100%;
    margin-top: -15%;
    padding-right: 12%;
  }

  .section_happy_atricle {
    margin-right: 0px;
  }

  .textinput {
    display: flex;
    flex-direction: column;
  }

  .email_subject {
    display: flex;
    flex-direction: column;
  }

  .textarea_submit {
    display: flex;
    flex-direction: column;
  }

  .form input {
    margin-bottom: 50px;
  }

  .email_subject input[type="email"],
  .email_subject select {
    margin: 0 0 50px 0;
  }

  .textarea_submit button {
    text-align: center;
    margin: 60px auto 0 auto;
  }
}
