



body {
  height: 100000px;
}

.header {
  height: 950px;
  background: url("/Project/img/HOME1.png") center center no-repeat;
  background-size: cover;
}

.menu {
  background-color: #fff;
  padding: 39px 0;
  display: flex;
  justify-content: space-around;
}

.menu_icon a {
  color: #000;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  text-decoration: none;
}

.menu_li {
  display: inline-block;
  padding-right: 20px;
}

.menu_link {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 3;
}

.menu_link:hover {
  color: #985e5b;
}

.menu_article {
  display: flex;
  justify-content: space-between;
  margin-top: 658px;
}

.menu_article_text p:first-child {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.menu_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-top: 19px;
}

.section_about {
  display: flex;
  justify-content: space-between;
  margin: 97px 135px 0 167px;
}

.section_about_photo {
  position: relative;
  margin-right: 102px;
}

.section_about_photo img:last-child {
  position: absolute;
  top: 234px;
  left: -47px;
}

.section_about_atricle h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
}

.section_about_atricle h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
}

.section_about_atricle p {
  margin-top: 27px;
  text-align: justify;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}
