header {
  background-color: #fff;
  height: 101px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.menu_icon a {
  color: #000;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  text-decoration: none;
}

.menu_li {
  display: inline-block;
  padding-right: 20px;
}

.menu_link {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 3;
}

.menu_link:hover {
  color: #985e5b;
  text-decoration: none;
}

.menu_article_text {
  display: inline-block;
  position: absolute;
  top: 659px;
  left: 1073px;
}

.menu_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.menu_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.container_carousel-control {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 120px;
  left: 370px;
}

.container_carousel-control a {
  position: static;
  width: 50px;
  height: 50px;
  border: 2px solid;
}

/* Секция ABOUT */

.section_about {
  width: 927px;
  display: flex;
  justify-content: center;
  margin: 97px auto 0 auto;
}

.section_about_photo {
  position: relative;
}

div.section_about_photo img:first-child {
  margin-left: 47px;
}

.section_about_photo img:last-child {
  position: absolute;
  top: 234px;
  left: 0;
}

.section_about_atricle {
  margin-left: 102px;
}

.section_about_atricle h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_about_atricle h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_about_atricle p {
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

/* секция LUNCH */

.lunch_background {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 145px;
}

.section_lunch {
  display: flex;
  justify-content: center;
}

.section_lunch_text h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
}

.section_lunch_text h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
}

.lunch_carousel {
  height: 400px;
  width: 750px;
}

.lunch_carousel .carousel-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.lunch_carousel .carousel-inner .carousel-item v {
  z-index: 1;
  opacity: 1;
  display: block;
  visibility: visible;
}

.lunch_carousel .carousel-inner .carousel-item {
  z-index: 1;
  opacity: 1;
  display: block;
  visibility: visible;
}

.lunch_carousel .carousel-item:nth-child(2) {
  height: 80%;
  opacity: 1;
  left: 10%;
}
.lunch_carousel .carousel-item:nth-child(3) {
  height: 60%;
  opacity: 1;
  left: 20%;
}

.carousel-fade .carousel-item.active {
  height: 100%;
  border: 1px solid lime;
  transform: scale(1.2);
  width: 600px;
  height: 400px;
}

/* Секция MENU */

.section_menu {
  margin: 100px auto 0 auto;
  width: 877px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section_menu_photo {
  position: relative;
}

.section_menu_photo img:last-child {
  position: absolute;
  top: 156px;
  left: -118px;
  z-index: -1;
}

.section_menu_atricle {
  margin-right: 184px;
}

.section_menu_atricle h3 {
  text-align: right;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_menu_atricle h4 {
  text-align: right;
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_menu_atricle p {
  text-align: right;
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

.section_menu_atricle p:last-child {
  text-align: right;
  margin-top: 0;
}

/* Секция QUOTE */

.quote {
  background-color: #f7f7f7;
  margin-top: 280px;
}

.quote_content {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.quote_content_img img {
  margin-top: -100px;
}

.quote_content_text {
  text-align: center;
  margin: 170px 0 170px 0;
}

.quote_content_text q {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.quote_content_text cite {
  display: block;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 24px;
}

/* Секция RESERVATION */

.section_reservation {
  width: 927px;
  display: flex;
  justify-content: center;
  margin: 97px auto 0 auto;
}

.section_reservation_photo {
  position: relative;
}

.section_reservation_photo img:last-child {
  position: absolute;
  top: 154px;
  left: 51px;
  z-index: -1;
}

.section_reservation_atricle {
  margin-left: 151px;
}

.section_reservation_atricle h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_reservation_atricle h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_reservation_atricle p {
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

h3 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 194px;
  font-weight: bold;
  text-align: center;
}

h4 {
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
  text-align: center;
}

/* секция OFFERS */

.section_offers {
  background-color: #f7f7f7;
  margin-top: 120px;
}

.section_offers_text {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section_offers_text > div {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 80px;
}

.section_offers_text div:nth-child(2) {
  border-left: solid 2px #d9d9d9;
  border-right: solid 2px #d9d9d9;
  padding: 80px;
}

.order_now {
  background-image: url("../img/ordernow.png");
  text-align: center;
}

.order_now button {
  text-transform: uppercase;
  margin: 73px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

.btn {
  font-weight: bold;
}

.btn-dark {
  padding: 9px 50px;
}

/* секция BLOG */

.section_blog h3 {
  margin-top: 100px;
}

.section_blog_even {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 53px;
}

.section_blog_even1 {
  position: relative;
}

.section_blog_even1_1 {
  background-image: url("../img/blog/blog1.png");
  width: 325px;
  height: 326px;
}

.section_blog_even1_2 {
  background-color: #fff;
  width: 297px;
  height: 297px;
  opacity: 0;
  position: absolute;
  top: 14px;
  left: 14px;
}

.section_blog_even1_2:hover {
  opacity: 1;
  transition: 0.4s;
}

.section_blog_even1_2 li {
  text-align: center;
}

.section_blog_even1_2 li:first-child {
  color: #dcdee0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 79px;
}

.section_blog_even1_2 li:nth-child(2) {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 59px 0;
}

.section_blog_even2 {
  position: relative;
}

.section_blog_even2_1 {
  background-image: url("../img/blog/blog2.png");
  width: 325px;
  height: 326px;
}

.section_blog_even2_2 {
  background-color: #fff;
  width: 297px;
  height: 297px;
  opacity: 0;
  position: absolute;
  top: 14px;
  left: 14px;
}

.section_blog_even2_2:hover {
  opacity: 1;
  transition: 0.4s;
}

.section_blog_even2_2 li {
  text-align: center;
}

.section_blog_even2_2 li:first-child {
  color: #dcdee0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 79px;
}

.section_blog_even2_2 li:nth-child(2) {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 41px 0;
  line-height: 2;
}

.section_blog_even3 {
  position: relative;
}

.section_blog_even3_1 {
  background-image: url("../img/blog/blog3.png");
  width: 325px;
  height: 326px;
}

.section_blog_even3_2 {
  background-color: #fff;
  width: 297px;
  height: 297px;
  opacity: 0;
  position: absolute;
  top: 14px;
  left: 14px;
}

.section_blog_even3_2:hover {
  opacity: 1;
  transition: 0.4s;
}

.section_blog_even3_2 li {
  text-align: center;
}

.section_blog_even3_2 li:first-child {
  color: #dcdee0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 79px;
}

.section_blog_even3_2 li:nth-child(2) {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 59px 0;
}

.section_blog_space {
  height: 255px;
  background-color: #f7f7f7;
  margin-top: -140px;
}

/* Секция Contact */

.section_contact {
  margin: 95px auto 0 auto;
  width: 877px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section_contact_photo {
  position: relative;
}

.section_contact_photo img:last-child {
  position: absolute;
  top: 156px;
  left: -118px;
  z-index: -1;
}

.section_contact_atricle {
  margin-right: 184px;
}

.section_contact_atricle h3 {
  text-align: right;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_contact_atricle h4 {
  text-align: right;
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_contact_atricle p {
  text-align: right;
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

.section_contact_atricle p:last-child {
  text-align: right;
  margin-top: 0;
}
