/* Секция HEADER  */
.header_menu {
  background: url("../img/menu/menu_background.png") no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
  background-position: center top;
}

.overlay {
  background-color: #0000005e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* секция НАВИГАЦИЯ */

/* Конец навигации */

.menu_menu_article_text {
  position: absolute;
  bottom: 15%;
}

.menu_menu_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.menu_menu_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

/* Секция  discover */

.section_discover {
  margin: 100px 112px 325px 119px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section_discover_photo {
  position: relative;
}

.section_discover_photo img:last-child {
  position: absolute;
  top: 156px;
  left: -118px;
  z-index: -1;
}

.section_discover_atricle {
  margin-right: 184px;
}

.section_discover_atricle h3 {
  text-align: right;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 42px;
  font-weight: bold;
}

.section_discover_atricle h4 {
  text-align: right;
  text-transform: uppercase;
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 21px;
  font-weight: bold;
}

.section_discover_atricle p {
  text-align: right;
  margin-top: 27px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

.section_discover_atricle p:last-child {
  text-align: right;
  margin-top: 0;
}

/* секция ВЫБОР БЛЮД  */

/* Стилизация TAB MENU */

.nav-link {
  background-color: transparent;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: black;
  background-color: transparent;
  border-bottom: 2px solid brown;
  border-radius: inherit;
}

/* Стилизация внутренний элементов */

.item_couse h5 {
  color: #404040;
  font-family: "Streetwear";
  font-size: 22px;
  margin: 100px 0 0 145px;
}

.courses_appetizer {
  display: flex;
  margin-top: 53px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courses_image {
  position: relative;
}

.courses_image_position {
  background-color: #985e5bc2;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  /* display: none; */
  opacity: 0;
  position: absolute;
}

.courses_image_position a {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
}

.courses_image_position i {
  font-size: 26px;
}

div.courses_image_position:hover {
  opacity: 1;
}

.courses_text {
  align-self: center;
  flex-basis: 880px;
}

.courses_text p {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2;
}

.courses_text p:first-child {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.courses_price {
  color: #1e2633;
  font-family: "Jaapokki-Regular";
  font-size: 25px;
  align-self: center;
  margin-top: 20px;
}
.courses_price span {
  color: #dcdee0;
}

@media (max-width: 767.98px) {
  .header_menu {
    height: 500px;
  }

  .section_discover {
    flex-direction: column;
    margin: 100px auto 140px auto;
  }

  .section_discover_photo img:first-child {
    width: 100%;
    padding-left: 10%;
  }

  .section_discover_photo img:last-child {
    position: static;
    width: 100%;
    margin-top: -15%;
    padding-right: 12%;
  }

  .section_discover_atricle {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }

  ul.nav-pills {
    flex-wrap: nowrap;
  }

  .item_couse h5 {
    text-align: center;
    margin: 100px 0 0 0;
  }
}
