/* Секция HEADER  */
.header_shop {
  background: url("../img/shop/background.png") no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  background-position: center top;
}

.overlay {
  background-color: #0000005e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* секция НАВИГАЦИЯ */

/* Конец навигации */

.menu_shop_article_text {
  position: absolute;
  bottom: 15%;
}

.menu_shop_article_text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.menu_shop_article_text p:last-child {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

/* ПЕРВАЯ СЕКЦИЯ */

.disription_courses {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

/* Описание картинок  */
.product-gallery {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.product-gallery-featured {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
}

.product-gallery-thumbnails .thumbnails-list li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
}

.thumbnails-list li img {
  display: block;
  width: 100%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #007bff;
  position: absolute;
  top: 0;
  left: 0;
}

/* ОПИСАНИЕ ДИВА disription_courses_text */

.breadcrumb {
  background-color: transparent;
}

.breadcrumb a {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

li.breadcrumb-item:last-child {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.disription_courses_text {
  margin-left: 70px;
}

.courses_text_down h4 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 35px 0;
}

.courses_text_down h5 {
  color: #996b6e;
  font-family: "Jaapokki-Regular";
  font-size: 25px;
  margin: 35px 0;
}

.customer_review {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.customer_review .checked {
  color: #996b6e;
}

.courses_discription {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2;
}

.courses_text_down input[type="number"] {
  border: none;
  width: 40px;
  border-bottom: 2px solid #f5f7fa;
  outline: none;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  vertical-align: bottom;
}

.form_review ::placeholder,
.textarea ::placeholder {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

ul.nav-pills {
  display: flex;
  justify-content: center;
}

/* Описание элементов таб меню */

.media_review {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.media_review_image p {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-align: center;
}

.media_review_image p > span.checked {
  color: #985e5b;
}

.media_text {
  margin: 20px 0;
  flex-basis: 450px;
}

.media_text p {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}

.media_date {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: bold;
}

/* Описание скции форма */

.form {
  margin: 125px 0;
}

.form h4 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.form_review {
  display: flex;
  justify-content: center;
}

.form_review input[type="text"],
[type="email"] {
  border: none;
  border-bottom: solid #f5f7fa 2px;
  width: 100%;
  margin-right: 50px;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  outline: none;
}

.rating {
  margin: 70px 0;
}

.form .rating > h4 {
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form textarea {
  width: 100%;
  border: none;
  border-bottom: solid #f5f7fa 2px;
  color: #1e2633;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  outline: none;
}

.form_buttom {
  text-align: center;
  margin-top: 50px;
}

/* секция Related Products */

.related_products h4 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.related_products_cards {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 991.98px) {
  .header_shop {
    height: 500px;
  }
  .disription_courses {
    flex-direction: column;
  }

  .list-unstyled {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .product-gallery {
    flex-direction: column-reverse;
  }

  .disription_courses_text .breadcrumb {
    display: none;
  }

  .disription_courses_text {
    margin-left: 0;
  }

  .product-gallery-featured {
    padding-left: 0;
  }

  .thumbnails-list li:last-child {
    margin-left: 10px;
  }
}

@media (max-width: 767.98px) {
  .product-gallery {
    flex-direction: column-reverse;
  }

  .product-gallery-featured img {
    width: 100%;
  }

  .list-unstyled {
    display: flex;
    margin-top: 10px;
  }

  .form_review {
    flex-direction: column;
  }

  .rating {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 650.98px) {
  .media_text {
    order: 3;
  }

  .media_date {
    order: 2;
  }
}
