* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  height: 950px;
  background: url("/Project/img/HOME1.png") center center no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  width: 1180px;
  margin: 0 auto;
}

.menu {
  background-color: #fff;
  padding: 39px 0;
  display: flex;
  justify-content: space-between;
}

.menu_icon {
  color: #000;
  font-family: "Pacifico", cursive;
  font-size: 25px;
}

.menu_ul {
}

.menu_li {
  display: inline-block;
  padding-right: 20px;
}

.menu_link {
  color: #985e5b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
}
